share/xsd/cdm/PatientActions.xsd

<!--
Copyright 2015 Applied Research Associates, Inc.
Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the License
at:
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.
-->
<!-- @brief Actions able to be performed to change the patient  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:/mil/tatrc/physiology/datamodel" xmlns="uri:/mil/tatrc/physiology/datamodel" elementFormDefault="qualified">  
	
	<xs:include schemaLocation="Scenario.xsd"/>
	<xs:include schemaLocation="PatientNutrition.xsd"/>	
	<xs:include schemaLocation="Substance.xsd"/>
	
	<!-- @brief Base Patient Action type -->
	<xs:complexType name="PatientActionData" abstract="true">
    <xs:annotation><xs:documentation>Base Patient Action Type</xs:documentation></xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActionData"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief -->
	<xs:simpleType name="enumPatientAssessment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PulmonaryFunctionTest"/>
			<xs:enumeration value="CompleteBloodCount"/>
			<xs:enumeration value="ComprehensiveMetabolicPanel"/>
			<xs:enumeration value="Urinalysis"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief -->
	<xs:complexType name="PatientAssessmentRequestData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="Type" type="enumPatientAssessment" use="required"/><!--<< @brief Assesment to run. -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!-- @brief Fight or flight.  The body prepares to defend itself. -->
	<xs:complexType name="AcuteStressData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>                      
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief A blockage of the Airway leading to no respiration/air flow in or out of the body. -->
	<xs:complexType name="AirwayObstructionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>			
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Reduction of achieved tidal volume by inhibiting the respiratory breathing mechanism (i.e., muscles of respiration).  Maximum severity will stop breathing completely.-->
	<xs:complexType name="ApneaData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief A common inflammatory disease of the airways where air flow into the lungs is partially obstructed. 
                This attack is acute asthma, which is an exacerbation of asthma that does not respond to standard treatments.-->
	<xs:complexType name="AsthmaAttackData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Types of Brain Injury that provided different nervous responses. -->
	<xs:simpleType name="enumBrainInjuryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Diffuse"/>
			<xs:enumeration value="LeftFocal"/>
			<xs:enumeration value="RightFocal"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief A non-localized traumatic brain injury. -->
	<xs:complexType name="BrainInjuryData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>						
				<xs:attribute name="Type" type="enumBrainInjuryType" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Constriction of the airways in the lungs due to tightening of surrounding smooth muscle. -->
	<xs:complexType name="BronchoconstrictionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--@brief A burn wound, severity of which is determined by proportion of body surface area affected-->
	<xs:complexType name="BurnWoundData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="TotalBodySurfaceArea" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Applies a non-specific cardiac arrest. -->
	<xs:complexType name="CardiacArrestData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Base CPR action type. -->
	<xs:complexType name="ChestCompressionData" abstract="true">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Technique used when performing cardiopulmonary resuscitation. Application of external force to the chest cavity in order to pump blood through the heart.-->
	<xs:complexType name="ChestCompressionForceData">
		<xs:complexContent>
			<xs:extension base="ChestCompressionData">
				<xs:sequence>
					<xs:element name="Force" type="ScalarForceData" minOccurs="1" maxOccurs="1"/><!--<< @brief The actual force value applied to the chest -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Technique used when performing cardiopulmonary resuscitation. Application of external force to the chest cavity in order to pump blood through the heart.-->
	<xs:complexType name="ChestCompressionForceScaleData">
		<xs:complexContent>
			<xs:extension base="ChestCompressionData">
				<xs:sequence>
					<xs:element name="ForceScale" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief A fractional representation of the maximum force that can be applied to the chest: 0.0 is no force applied, 1.0 is maximum force applied -->
					<xs:element name="ForcePeriod" type="ScalarTimeData" minOccurs="0" maxOccurs="1"/><!--<< @brief The specified length of time the force is applied -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Applies an occlusive dressing to either the left or right side of the chest. An occlusive dressing is an air and water-tight trauma dressing that provides immediate control of pressure and bleeding that occurs with an open pneumothorax. -->
	<xs:complexType name="ChestOcclusiveDressingData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" use="required"/><!--<< @brief -->
				<xs:attribute name="Side" type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Base class of all concious breathing controls. -->
	<xs:complexType name="ConsciousRespirationCommandData" abstract="true">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>					
					<xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Force air into the lungs. -->
	<xs:complexType name="ForcedInhaleData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="InspiratoryCapacityFraction" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief The fraction of the Inspiratory capacity that will be filled by the breath. -->
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the inhale. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Force air out of the lungs.-->
	<xs:complexType name="ForcedExhaleData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="ExpiratoryReserveVolumeFraction" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief The fraction of the Expiratory Reserve Volume that is forced out of the body. -->
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the exhale. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<!-- @brief Hold the patients breath. There will be no inflow or out flow of air during the specified period -->
	<xs:complexType name="BreathHoldData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData">
				<xs:sequence>
					<xs:element name="Period" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief Duration of the breath hold. -->
				</xs:sequence>              
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief Administer a substance through an Inhaler. This command will represent a single press of an Inhaler. -->
	<xs:complexType name="UseInhalerData">
		<xs:complexContent>
			<xs:extension base="ConsciousRespirationCommandData"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief An ordered list of concious breath commands for the patient to preform. -->
	<xs:complexType name="ConsciousRespirationData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Command" type="ConsciousRespirationCommandData" minOccurs="1" maxOccurs="unbounded"/><!--<< @brief -->
				</xs:sequence>              
				<xs:attribute name="AppendToPrevious" type="xs:boolean" use="required"/><!--<< @brief Appends commands provided to the engine without removing currect commands. --> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Consume nutrients into the body. -->
	<xs:complexType name="ConsumeNutrientsData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:choice minOccurs="1"  maxOccurs="1">
					<xs:element name="NutritionFile" type="xs:string"/><!--<< @brief A file to use for a nutrients. -->
					<xs:element name="Nutrition" type="NutritionData"/><!--<< @brief Specific nutrient data to use. -->
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Increase the patient's metabolic rate leading to an increase in core temperature, cardiac output, respiration rate and tidal volume. -->
	<xs:complexType name="ExerciseData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:choice minOccurs = "1" maxOccurs="1" >
					<xs:element name="Intensity" type="Scalar0To1Data"/><!--<< @brief Fractional representation of the maximum patient exertion -->
					<xs:element name="DesiredWorkRate" type="ScalarPowerData"/><!--<< @brief Desired achieved work rate up to the maximum patient exertion -->
				</xs:choice>               
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief A hemorrhage is the loss of blood escaping from the circulatory system. Typically, a healthy person can endure a loss of 10 to 15 percent of the total blood volume without serious medical difficulties. -->
	<xs:complexType name="HemorrhageData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
						<xs:element name="InitialRate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/> <!--<< @brief The initial bleeding rate of the hemorrhage used to set circuit resistance change-->
				</xs:sequence>
				<xs:attribute name="Compartment" type="xs:string" use="required"/><!--<<@brief The compartment in which the hemorrhage occurs, maps to specific circuit path -->               
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--Infection action types, including sepsis-->
	<xs:simpleType name="enumInfectionSeverity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eliminated"/>	<!--Will use this tag to deactive infection-->
			<xs:enumeration value="Mild"/>
			<xs:enumeration value="Moderate"/>
			<xs:enumeration value="Severe"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="InfectionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="MinimumInhibitoryConcentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="Severity" type="enumInfectionSeverity" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief -->
	<xs:simpleType name="enumIntubationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Off"/>
			<xs:enumeration value="Esophageal"/>
			<xs:enumeration value="LeftMainstem"/>
			<xs:enumeration value="RightMainstem"/>
			<xs:enumeration value="Tracheal"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- @brief Insertion of tube. -->
	<xs:complexType name="IntubationData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="Type" type="enumIntubationType" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!-- @brief Mechanically breathing for the patient, such as with a squeeze bag or other equipment. -->
	<xs:complexType name="MechanicalVentilationData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Pressure" type="ScalarPressureData" minOccurs="0" maxOccurs="1"/><!--<< @brief Pressure produced. -->
					<xs:element name="Flow" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/><!--<< @brief Flow produced. -->       
					<xs:element name="GasFraction" type="SubstanceFractionData" minOccurs="0" maxOccurs="unbounded"/><!--<< @brief Break down of the gasses in the equipment, fractions must add up to 1. -->                  					
				</xs:sequence>  
				<xs:attribute name="State" type="enumOnOff" use="required"/><!--<< @brief Is the adminstering is on or not. -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- @brief A 14-16G intravenous caninula is inserted into the second rib-space in the mid-clavcular line. The needle is advanced until air can be aspirated into a connecting syringe. The needle is withdrawn and the caninula is left to allow air flow out of the pleural space. This effectively converts the closed pneumothorax into an open pneumothorax. -->
	<xs:complexType name="NeedleDecompressionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="State" type="enumOnOff" use="required"/><!--<< @brief -->
				<xs:attribute name="Side" type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
		<!-- @brief Pain response. -->
	<xs:complexType name="PainStimulusData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
						<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief The severity of a pain stimulus on a scale of 0 to 1 -->
						<xs:element name="DecayRate" type="ScalarFrequencyData" minOccurs="0" maxOccurs="1"/><!--<< @brief The frequency of decay of pain score -->
				</xs:sequence>
				<xs:attribute name="Location" type="xs:string" use="required"/><!--<<@brief The compartment in which the hemorrhage occurs, maps to specific circuit path -->               
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief Pericardial effusion ("fluid around the heart") is an abnormal accumulation of fluid in the pericardial cavity. Because of the limited amount of space in the pericardial cavity, fluid accumulation leads to an increased intrapericardial pressure which can negatively affect heart function. A pericardial effusion with enough pressure to adversely affect heart function is called cardiac tamponade. Pericardial effusion usually results from a disturbed equilibrium between the production andre-absorption of pericardial fluid, or from a structural abnormality that allows fluid to enter the pericardial cavity. Normal levels of pericardial fluid are from 15 to 50 mL. -->
	<xs:complexType name="PericardialEffusionData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="EffusionRate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief The flow rate of fluid associated with the effusion. Set to zero to stop. -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief -->
	<xs:simpleType name="enumPneumothoraxType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Closed"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @brief A pneumothorax is an abnormal collection of air or gas in the pleural space that separates the lung from the chest wall. Like pleural effusion (liquid buildup in that space), pneumothorax may interfere with normal breathing. -->
	<xs:complexType name="TensionPneumothoraxData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<xs:element name="Severity" type="Scalar0To1Data" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
				</xs:sequence>         
				<xs:attribute name="Type"  type="enumPneumothoraxType" use="required"/><!--<< @brief -->
				<xs:attribute name="Side"  type="enumSide" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>		

	<!-- @brief Various methods of substance administration. Currently unsupported methods are commented out.-->
	<xs:simpleType name="enumBolusAdministration">
		<xs:restriction base="xs:string">			
			<!--<xs:enumeration value="Epidural"/>--> <!-- @brief Injection into a epidural space -->
			<!--<xs:enumeration value="Intraosseous"/>--> <!-- @brief Injection into the bone marrow -->
			<xs:enumeration value="Intraarterial"/><!-- @brief Injection into an artery -->
			<!--<xs:enumeration value="Intracardiac"/>--> <!-- @brief Injection into the heart -->
			<!--<xs:enumeration value="Intracerebral"/>--> <!-- @brief Injection into the brain -->
			<!--<xs:enumeration value="Intracerebroventricular"/>--> <!-- @brief Injection into the cerebral ventricles -->		
			<!--<xs:enumeration value="Intradermal"/>--> <!-- @brief Injection into the skin -->
			<xs:enumeration value="Intramuscular"/><!-- @brief Injection into the muscle -->			
			<xs:enumeration value="Intravenous"/><!-- @brief Injection into a vein -->					
			<!--<xs:enumeration value="Subcutaneous"/>--> <!-- @brief Injection under the skin -->			
		</xs:restriction>
	</xs:simpleType>
	
	<!-- @brief Methods of oral drug administration.  Currently supported routes are transmucosal and gastrointestinal -->
	<xs:simpleType name="enumOralAdministration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Transmucosal"/>
			<xs:enumeration value="Gastrointestinal"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- @brief The administration of a substance or other compound that is given to raise its concentration in blood to an effective level. -->
	<xs:complexType name="SubstanceAdministrationData" abstract="true">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- @brief An administration of a substance that is given all at one time to raise its concentration in blood to an effective level. -->
	<xs:complexType name="SubstanceBolusData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="Substance" type="xs:string" minOccurs="1" maxOccurs="1"/>	<!--<< @brief -->
					<xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Dose" type="ScalarVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->													
				</xs:sequence>
				<xs:attribute name="AdminRoute" type="enumBolusAdministration" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- @brief The state of a bolus administration of a substance. Usually the injection takes about 2 seconds, this defines the injection state for engine state. -->
	<xs:complexType name="SubstanceBolusStateData">
		<xs:sequence>
			<xs:element name="ElapsedTime" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AdministeredDose" type="ScalarVolumeData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Substance" type="xs:string" use="required"/>
	</xs:complexType>
	
	<!-- @brief Continuous injection of a compound. -->
	<xs:complexType name="SubstanceCompoundInfusionData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="SubstanceCompound" type="xs:string" minOccurs="1" maxOccurs="1"/><!--<< @brief -->	
					<xs:element name="BagVolume" type="ScalarVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Rate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!-- @brief Continuous injection of a specific substance. -->
	<xs:complexType name="SubstanceInfusionData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="Substance" type="xs:string" minOccurs="1" maxOccurs="1"/><!--<< @brief --> 
					<xs:element name="Concentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->
					<xs:element name="Rate" type="ScalarVolumePerTimeData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->										
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--@brief Drug administered orally, either as a lozenge that dissolves in mouth (transmucosal) or as a pill that dissolves is stomach (gastrointestinal)-->
	<xs:complexType name="SubstanceOralDoseData">
		<xs:complexContent>
			<xs:extension base="SubstanceAdministrationData">
				<xs:sequence>
					<xs:element name="Substance" type="xs:string" minOccurs="1" maxOccurs="1"/>	<!--<< @brief -->
					<xs:element name="Dose" type="ScalarMassData" minOccurs="1" maxOccurs="1"/><!--<< @brief -->													
				</xs:sequence>
				<xs:attribute name="AdminRoute" type="enumOralAdministration" use="required"/><!--<< @brief -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    
    	<xs:simpleType name="enumTourniquetApplicationLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Applied"/>
			<xs:enumeration value="Misapplied"/>
            <xs:enumeration value="None"/>
		</xs:restriction>
	</xs:simpleType>
    
    <xs:complexType name="TourniquetData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:attribute name="Compartment" type="xs:string" use="required"/>
                <xs:attribute name="TourniquetLevel" type="enumTourniquetApplicationLevel" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--@brief The state variables of a drug administered orally.  The transmucosal and gastrointestinal routes converge to a common pathway when dissolved drug reaches the stomach (either as transmucosal drug that is swallowed or a pill that dissolves in stomach).  Thus, we distinguish between the transmucosal and GI dissolution states during drug dissolution process, but use common elements thereafter -->
	<xs:complexType name="TransmucosalStateData">
		<xs:complexContent>
			<xs:extension base="ObjectData">
				<xs:sequence>
					<xs:element name="MouthSolidMass" type="ScalarMassData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="SalivaConcentration" type="ScalarMassPerVolumeData" minOccurs="1" maxOccurs="1"/>
					<xs:element name="BuccalConcentrations" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="7"/>
					<xs:element name="SublingualConcentrations" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="7"/>
				</xs:sequence>
				<xs:attribute name="Substance" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- @brief Empty the bladder of its contents. -->
	<xs:complexType name="UrinateData">
		<xs:complexContent>
			<xs:extension base="PatientActionData"/><!--<< @brief -->
		</xs:complexContent>
	</xs:complexType>
	

	<!-- @brief Override a patient parameter. -->
	<xs:complexType name="OverrideData">
		<xs:complexContent>
			<xs:extension base="PatientActionData">
				<xs:sequence>
					<!-- Blood Chemistry Overrides. -->
					<xs:element name="ArterialBloodPHOverride" type="ScalarData" minOccurs="0" maxOccurs="1"/><!-- @brief Measure of acidity or basicity of the arterial blood. -->
					<xs:element name="CalciumConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CarbonDioxideSaturationOverride" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief The fraction of hemoglobin that is carbon dioxide bound.-->					
                    <xs:element name="CarbonMonoxideSaturationOverride" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief The fraction of hemoglobin that is carbon monoxide bound.-->
					<xs:element name="GlucoseConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="LactateConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="OxygenSaturationOverride" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/><!--<< @brief The fraction of hemoglobin that is oxygen bound.-->
					<xs:element name="PhosphateOverride" type="ScalarAmountPerVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Sum of all inorganic phosphate in the blood.-->
					<xs:element name="PotassiumConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SodiumConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TotalBilirubinOverride" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/><!--@brief Concentration of bilirubin in plasma in indicative of progression of sepsis-->
					<xs:element name="VenousBloodPHOverride" type="ScalarData" minOccurs="0" maxOccurs="1"/><!-- @brief Measure of acidity or basicity of the venous blood. -->
					<xs:element name="WhiteBloodCellCountOverride" type="ScalarAmountPerVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Total number of white blood cells in the blood.-->
					<!-- Cardiovascular Overrides. -->
					<xs:element name="BloodVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The total volume of fluid within the cardiovascular system.-->
					<xs:element name="CardiacOutputOverride" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/><!-- @brief The volume of blood being pumped from the heart in a given time interval. -->
					<xs:element name="DiastolicArterialPressureOverride" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The minimum pressure in the aorta over the course of a cardiac cycle.--> 
					<xs:element name="HeartRateOverride" type="ScalarFrequencyData" minOccurs="0" maxOccurs="1"/><!--<< @brief The frequency of heart beat. -->	
					<xs:element name="HeartStrokeVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The volume of blood pumped from the left ventricle in one contraction.-->
					<xs:element name="MeanArterialPressureOverride" type="ScalarPressureData" minOccurs="0" maxOccurs="1"/><!--<< @brief Pressure produced. --> 
					<xs:element name="SystolicArterialPressureOverride" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The maximum pressure in the aorta over the course of a cardiac cycle.-->
					<!-- Endocrine Overrides. -->
					<xs:element name="InsulinSynthesisRateOverride" type="ScalarAmountPerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Insulin production rate. -->
                    <xs:element name="GlucagonSynthesisRateOverride" type="ScalarAmountPerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Glucagon production rate. -->
					<!-- Energy Overrides. -->
					<xs:element name="AchievedExerciseLevelOverride" type="ScalarFractionData" minOccurs="0" maxOccurs="1"/><!--<< @brief The fraction of how much of the requested exercise the patient is able to achieve. 1.0 means the the patient is performing at the requested level. Nan is the patient is not exercising (no Action)-->
                    <xs:element name="ChlorideLostToSweatOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/> <!--<<@brief Tracks the total amount of chloride lost while sweating during exercise -->
					<xs:element name="CoreTemperatureOverride" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The internal body temperature.-->
                    <xs:element name="CreatinineProductionRateOverride" type="ScalarAmountPerTimeData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The generation of creatinine in the muscle tissue per -->                    
                    <xs:element name="ExerciseMeanArterialPressureDeltaOverride" type="ScalarPressureData" minOccurs="0" maxOccurs="1"/><!--<< @brief The pressure delta that occurs during exercise. Used to modify the baroreceptor set-point -->
                    <xs:element name="FatigueLevelOverride" type="ScalarFractionData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The exhaustion level of the body, or inability to perform physical exercise @details The amount of energy available for activity divided by the normal rested energy -->                            
                    <xs:element name="LactateProductionRateOverride" type="ScalarAmountPerTimeData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The molar amount of lactate generated on the tissue level from anaerobic metabolism -->
                    <xs:element name="PotassiumLostToSweatOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/> <!--<<@brief Tracks the total amount of potassium lost while sweating during exercise -->
					<xs:element name="SkinTemperatureOverride" type="ScalarTemperatureData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The skin surface temperature.-->
					<xs:element name="SodiumLostToSweatOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/> <!--<<@brief Tracks the total amount of sodium lost while sweating during exercise -->
                    <xs:element name="SweatRateOverride" type="ScalarMassPerTimeData" minOccurs="0" maxOccurs="1"/> <!--<< @brief Mass of sweat generated per unit time due to elevated core temperature -->
                    <xs:element name="TotalMetabolicRateOverride" type="ScalarPowerData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The basal metabolic rate plus additional energy expenditure rates due to activity.-->
                    <xs:element name="TotalWorkRateLevelOverride" type="ScalarFractionData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The current patient work rate above basal over the maximum work rate capable by the patient -->         
					<!-- Renal Overrides. -->
					<xs:element name="LeftAfferentArterioleResistanceOverride" type="ScalarFlowResistanceData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief resistance to flow going into the glomerular capillaries in the left Kidney-->
					<xs:element name="LeftGlomerularFiltrationRateOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Flow rate of filtrate into the tubules in left Kidney -->
					<xs:element name="LeftReabsorptionRateOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Rate at which fluid or a substance is transported into the peritubular capillaries in the left Kidney -->
					<xs:element name="RenalBloodFlowOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Blood flow into the kidney that is not filtered into the tubules -->
					<xs:element name="RenalPlasmaFlowOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Plasma flow into the kidney that is not filtered into the tubules -->    
					<xs:element name="RightAfferentArterioleResistanceOverride" type="ScalarFlowResistanceData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief resistance to flow going into the glomerular capillaries in the left Kidney-->
					<xs:element name="RightGlomerularFiltrationRateOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Flow rate of filtrate into the tubules in left Kidney -->
					<xs:element name="RightReabsorptionRateOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Rate at which fluid or a substance is transported into the peritubular capillaries in the left Kidney -->
					<xs:element name="UrinationRateOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Rate that fluid exits the bladder  -->
					<xs:element name="UrineProductionRateOverride" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/><!--<< @brief The urine production rate. -->
					<xs:element name="UrineOsmolalityOverride" type="ScalarOsmolalityData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The osmolar pressure contributions of the sodium, urea and glucose divided by the mass of the fluid -->
					<xs:element name="UrineVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The volume of the urine in the bladder --> 
					<xs:element name="UrineUreaNitrogenConcentrationOverride" type="ScalarMassPerVolumeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Scaled concentration of Urea in the bladder  -->
					<!-- Respiratory Overrides. -->
					<xs:element name="ExpiratoryFlowOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief Instantaneous airflow out of the lungs (negative value when inhaling)-->
                    <xs:element name="InspiratoryFlowOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief TInstantaneous airflow into the lungs (negative value when exhaling).-->
                    <xs:element name="PulmonaryComplianceOverride" type="ScalarFlowComplianceData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The total compliance of the lungs.-->
                    <xs:element name="PulmonaryResistanceOverride" type="ScalarFlowResistanceData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The total resistance to airflow through the lungs.-->             
					<xs:element name="RespirationRateOverride" type="ScalarFrequencyData" minOccurs="0" maxOccurs="1"/><!--<< @brief The frequency of respiration. -->
					<xs:element name="TargetPulmonaryVentilationOverride" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/> <!--<<@brief The target ventilation determined by the chemoreceptor method in the Nervous system, used by Respiratory to drive Respiration-->
					<xs:element name="TidalVolumeOverride" type="ScalarVolumeData" minOccurs="0" maxOccurs="1"/><!--<< @brief The volume of air moved into or out of the lungs during normal respiration. -->
                    <xs:element name="TotalAlveolarVentilationOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The air flow to the alveoli.-->
                    <xs:element name="TotalLungVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The total volume of air within the lungs at any given time.-->
                    <xs:element name="TotalPulmonaryVentilationOverride" type="ScalarVolumePerTimeData" minOccurs="0"  maxOccurs="1"/> <!--<< @brief The flow rate representing the exchange of air between the lungs and ambient air.-->
					<!-- Tissue Overrides. -->
					<xs:element name="ExtravascularFluidVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Total fluid volume outside of the blood vessels. -->
					<xs:element name="IntracellularFluidVolumeOverride" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/><!--<< @brief Volume of fluid in the cells outside of the blood vessels. --> 
					<xs:element name="LiverGlycogenOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/>  <!--<< @brief The glucose stored as glycogen in the liver tissue. -->
                    <xs:element name="MuscleGlycogenOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/> <!--<< @brief The glucose stored as glycogen in the muscle tissue. -->
                    <xs:element name="StoredFatOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/>  <!--<< @brief The triacylglycerol stored in the fat tissue. -->
					<xs:element name="StoredProteinOverride" type="ScalarMassData" minOccurs="0" maxOccurs="1"/>  <!--<< @brief The amino acids stored as protein in the muscle tissue. -->
				</xs:sequence>  
				<xs:attribute name="State" type="enumOnOff" use="required"/><!--<< @brief Is the override on or off. -->
				<xs:attribute name="Conformant" type="enumOnOff" use="required"/><!--<< @brief Is the resulting phusiology conformant. -->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>

	
