share/xsd/cdm/Patient.xsd

<!--
Copyright 2015 Applied Research Associates, Inc.
Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the License
at:
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.
-->
<!-- @brief Data associated with the patient  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="uri:/mil/tatrc/physiology/datamodel" xmlns="uri:/mil/tatrc/physiology/datamodel" elementFormDefault="qualified">

  <xs:include schemaLocation="Properties.xsd"/>

  <!-- @brief Enumeration for patient sex -->
  <xs:simpleType name="enumSex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Female"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- @brief Enumeration for Blood ABO antigens -->
  <xs:simpleType name="enumBloodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="AB"/>
      <xs:enumeration value="O"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- @brief Enumeration for states the patient can enter and exit out of. -->
  <xs:simpleType name="enumPatientEvent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AcuteLungInjury"/>      <!--<< @brief Moderate impairment of the alveoli, reducing gas exchange within the lungs. (CarricoIndex [200, 300] mmHg)-->
      <xs:enumeration value="AcuteRespiratoryDistress"/>      <!--<< @brief Severe impairment of the alveoli, reducing gas exchange within the lungs. (Carrico Index [100, 200] mmHg)-->
      <xs:enumeration value="Antidiuresis"/>      <!--<< @brief Low urine flow. -->
      <xs:enumeration value="Asystole"/>      <!--<< @brief Represents no cardiac electrical activity. -->
      <xs:enumeration value="Bradycardia"/>      <!--<< @brief The heart rate is slowed to below 60 beats per minute. -->
      <xs:enumeration value="Bradypnea"/>      <!--<< @brief The state at which the respiratory rate has fallen 10 breaths per minute. -->
      <xs:enumeration value="BrainOxygenDeficit"/>      <!--<< @brief A lack of oxygen in the brain. Death will occur ~30min-->
      <xs:enumeration value="CardiacArrest"/>      <!--<< @brief Sudden, unexpected loss of heart function, breathing, and consciousness.-->
      <xs:enumeration value="CardiogenicShock"/>      <!--<< @brief Inadequate blood circulation due to failure of the heart ventricles (Cardiac Index < 2.2 L/min m2).-->
	  <xs:enumeration value="CompartmentSyndrome-LeftArm"/>      <!--<< @brief Loss of blood flow into the left arm and intrathoracic pressure from extremity burn.-->
	  <xs:enumeration value="CompartmentSyndrome-RightArm"/>      <!--<< @brief Loss of blood flow into the right arm and intrathoracic pressure from extremity burn.-->
	  <xs:enumeration value="CompartmentSyndrome-LeftLeg"/>      <!--<< @brief Loss of blood flow into the left leg and intrathoracic pressure from extremity burn.-->
	  <xs:enumeration value="CompartmentSyndrome-RightLeg"/>      <!--<< @brief Loss of blood flow into the right leg and intrathoracic pressure from extremity burn.-->
	  <xs:enumeration value="CompartmentSyndrome-Abdominal"/>      <!--<< @brief Loss of blood flow into the abdominal and intrathoracic pressure from trunk burn.-->
      <xs:enumeration value="CriticalBrainOxygenDeficit"/>      <!--<< @brief A critical lack of oxygen in the brain. Death in under 10min-->
      <xs:enumeration value="Dehydration"/>      <!--<< @brief A loss of more fluid than is taken in (More than 3% loss of resting fluid mass). -->
      <xs:enumeration value="Diuresis"/>      <!--<< @brief High urine flow.-->
      <xs:enumeration value="MildDiarrhea"/>      <!--<< @brief mild diarrhea.-->
      <xs:enumeration value="SevereDiarrhea"/>      <!--<< @brief severe diarrhea.-->
      <xs:enumeration value="Fasciculation"/>      <!--<< @brief Brief spontaneous contractions of muscle fibers. -->
      <xs:enumeration value="Fatigue"/>      <!--<< @brief The body is using energy above the Basal Metabolic Rate. -->
      <xs:enumeration value="FlaccidParalysis"/>      <!--<< @brief RBCACE > 90% complete paralysis -->
      <xs:enumeration value="FunctionalIncontinence"/>      <!--<< @brief Uncontrolled bladder release due to a full bladder. -->
      <xs:enumeration value="MildHeadache"/>      <!--<< @brief mild headache. -->
      <xs:enumeration value="SevereHeadache"/>      <!--<< @brief mild headache. -->
      <xs:enumeration value="HemolyticTransfusionReaction"/>      <!--<< @brief Incompatible transfusion reaction. -->
      <xs:enumeration value="Hypercapnia"/>      <!--<< @brief State at which the arterial carbon dioxide partial pressure has exceeded 60 mmHg. -->
      <xs:enumeration value="Hyperglycemia"/>      <!--<< @brief An excess of glucose in the bloodstream (> 200 mg/dL). -->
      <xs:enumeration value="MildDiaphoresis"/>      <!--<< @brief A loss of more fluid than is taken in (More than 3% loss of resting fluid mass). -->
      <xs:enumeration value="ModerateDiaphoresis"/>      <!--<< @brief A loss of more fluid than is taken in (More than 3% loss of resting fluid mass). -->
      <xs:enumeration value="SevereDiaphoresis"/>      <!--<< @brief A loss of more fluid than is taken in (More than 3% loss of resting fluid mass). -->
      <xs:enumeration value="MildHyperkalemia"/>      <!--<<@brief An excess of potassium in the bloodstream (>5.5 mM). -->
      <xs:enumeration value="SevereHyperkalemia"/>      <!--<<@brief An excess of potassium in the bloodstream (>6.2 mM). -->
      <xs:enumeration value="MildHypernatremia"/>      <!--<<@brief An excess of sodium in the bloodstream (>148 mM). -->
      <xs:enumeration value="SevereHypernatremia"/>      <!--<<@brief An excess of sodium in the bloodstream (>160 mM). -->
      <xs:enumeration value="Hyperthermia"/>      <!--<< @brief The condition of having a body temperature greatly above normal (> 38° C). -->
      <xs:enumeration value="Hypoglycemia"/>      <!--<< @brief Low glucose in the bloodstream (< 70 mg/dL). -->
      <xs:enumeration value="HypoglycemicShock"/>      <!--<< @brief Very low glucose in the bloodstream (< 50 mg/dL). -->
      <xs:enumeration value="HypoglycemicComa"/>      <!--<< @brief Dangerously low glucose in the bloodstream (< 20 mg/dL). -->
      <xs:enumeration value="Hypothermia"/>      <!--<< @brief The condition of having a body temperature greatly below normal (< 35° C). -->
      <xs:enumeration value="MildHypokalemia"/>      <!--<<@brief An deficit of potassium in the bloodstream (<3.2 mM). -->
      <xs:enumeration value="SevereHypokalemia"/>      <!--<<@brief An deficit of potassium in the bloodstream (<2.5 mM). -->
      <xs:enumeration value="MildHyponatremia"/>      <!--<<@brief An deficit of sodium in the bloodstream (<136 mM). -->
      <xs:enumeration value="SevereHyponatremia"/>      <!--<<@brief An deficit of sodium in the bloodstream (<120 mM). -->
      <xs:enumeration value="Hypoxia"/>      <!--<< @brief State at which the arterial oxygen partial pressure has fallen below 65 mmHg. -->
      <xs:enumeration value="HypovolemicShock"/>      <!--<< @brief The blood volume has dropped below 65% of its normal value. -->
      <xs:enumeration value="IntracranialHypertension"/>      <!--<< @brief Intracranial pressure is greater than 25 mmHg. -->
      <xs:enumeration value="IntracranialHypotension"/>      <!--<< @brief Intracranial pressure is lower than 7 mmHg. -->
      <xs:enumeration value="IrreversibleState"/>      <!--<< @brief An unrecoverable patient state. The engine will cease calculating when this event occurs. -->
      <xs:enumeration value="Ketoacidosis"/>      <!--<< @brief A form of metabolic acidosis where the anion gap is driven by the rise in ketones. -->
      <xs:enumeration value="LacticAcidosis"/>      <!--<< @brief A form of metabolic acidosis where the blood lactate concentration rises. -->
      <xs:enumeration value="LiverGlycogenDepleted"/>      <!--<< @brief The glycogen stored in the liver has been used up. -->
      <xs:enumeration value="MaximumPulmonaryVentilationRate"/>      <!--<< @brief The maximum pulmonary ventilation rate has been reached. -->
      <xs:enumeration value="MetabolicAcidosis"/>      <!--<< @brief A condition where the body is producing excess acids. (pH < 7.35). -->
      <xs:enumeration value="MetabolicAlkalosis"/>      <!--<< @brief A condition where the body is producing excess bases. (pH > 7.45). -->
      <xs:enumeration value="MildWeakness"/>      <!--<< @brief weakness due to exposure to CBRNE, mild ~ 40% RBCACE. -->
      <xs:enumeration value="ModerateWeakness"/>      <!--<< @brief weakness due to exposure to CBRNE, mild ~ 75% RBCACE. -->
      <xs:enumeration value="MildSecretions"/>      <!--<< @brief weakness due to exposure to CBRNE, mild ~ 40% RBCACE. -->
      <xs:enumeration value="ModerateSecretions"/>      <!--<< @brief weakness due to exposure to CBRNE, mild ~ 40% RBCACE. -->
      <xs:enumeration value="MuscleCatabolism"/>      <!--<< @brief The temporary protein stores have been used, and the patient is now consuming their muscle tissue for protein. -->
      <xs:enumeration value="MuscleGlycogenDepleted"/>      <!--<< @brief The glycogen stored in the muscle tissue has been used up. -->
      <xs:enumeration value="MyocardiumOxygenDeficit"/>      <!--<< @brief The myocardium oxygen level has decreased below 5 mmHg. -->
      <xs:enumeration value="Natriuresis"/>      <!--<< @brief Sodium excretion above normal levels. -->
      <xs:enumeration value="Nausea"/>      <!--<< @brief patient is nauseated. -->
      <xs:enumeration value="NutritionDepleted"/>      <!--<< @brief The stomach is empty. -->
      <xs:enumeration value="PulselessRhythm"/>      <!--<< @brief The state at which the heart has stopped beating.-->
      <xs:enumeration value="RenalHypoperfusion"/>      <!--<< @brief Low blood flow to the kidneys. -->
      <xs:enumeration value="RespiratoryAcidosis"/>      <!--<< @brief An increase of CO2 concentration in the bloodstream and a decrease in blood pH. -->
      <xs:enumeration value="RespiratoryAlkalosis"/>      <!--<< @brief An decrease of CO2 concentration in the bloodstream and a increase in blood pH. -->
      <xs:enumeration value="SevereAcuteRespiratoryDistress"/>      <!--<< @brief Severe impairment of the alveoli, reducing gas exchange within the lungs. (Carrico Index < 100 mmHg)-->
      <xs:enumeration value="SevereSecretions"/>      <!--<< @brief weakness due to exposure to CBRNE, mild ~ 40% RBCACE. -->
      <xs:enumeration value="Seizures"/>      <!--<< @brief patient seizures. (RBCACE > 40% bound)-->
      <xs:enumeration value="StartOfCardiacCycle"/>      <!--<< @brief The Patient is starting a new heart beat. -->
      <xs:enumeration value="StartOfExhale"/>      <!--<< @brief Patient is starting to exhale. -->
      <xs:enumeration value="StartOfInhale"/>      <!--<< @brief Patient is starting to inhale. -->
      <xs:enumeration value="SevereSepsis"/>      <!--<< @brief Sepsis accompanied by systolic pressure < 90 and urine output < 0.5 mL/kg/hr-->
      <xs:enumeration value="Tachycardia"/>      <!--<< @brief The heart rate is elevated above 100 beats per minute. -->
      <xs:enumeration value="Tachypnea"/>      <!--<< @brief A breathing rate above 20 breaths per minute. -->
      <xs:enumeration value="Vomiting"/>      <!--<< @brief A breathing rate above 20 breaths per minute. -->
      <xs:enumeration value="TotalPatientEvents"/>      <!--<< @brief All enums need to have a end delimiter to allow simple initialization of maps across all values and to simplify maintenance of code. -->
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ActivePatientEventData">
    <xs:sequence>
      <xs:element name="Duration" type="ScalarTimeData" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Event" type="enumPatientEvent" use="required"/>
  </xs:complexType>

  <!-- @brief Data used to configure the patient. -->
  <xs:complexType name="PatientData">
    <xs:complexContent>
      <xs:extension base="ObjectData">
        <xs:sequence>

          <!-- Physical Characteristics -->
          <xs:element name="Annotation"  type="xs:string" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief Patient Annotation on the purpose of the patient data. Intended for use mostly in patient files-->
          <xs:element name="Name" type="xs:string" minOccurs="1"  maxOccurs="1"/>          <!--<< @brief Patient Identifier. -->
          <xs:element name="Sex" type="enumSex" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief @copybrief Patient_enumSex -->
          <xs:element name="Age" type="ScalarTimeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief Patient age. -->
          <xs:element name="Weight" type="ScalarMassData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief Patient weight. -->
          <xs:element name="Height" type="ScalarLengthData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief Patient height. -->
          <xs:element name="BodyDensity" type="ScalarMassPerVolumeData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief  The mass of the body divided by the volume of the body. -->
          <xs:element name="BodyFatFraction" type="ScalarFractionData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief Total mass of fat divided by total body mass; body fat includes essential body fat and storage body fat. -->
          <xs:element name="LeanBodyMass" type="ScalarMassData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief Component of body composition after subtracting body fat weight. -->
          <xs:element name="MaxWorkRate" type="ScalarPowerData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The maximal work rate. -->
          <xs:element name="MuscleMass" type="ScalarMassData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The mass of muscle only. -->
          <xs:element name="BloodTypeABO" type="enumBloodType" minOccurs="0" maxOccurs="1"/>          <!--<< @brief ABO antigen blood type. -->
          <xs:element name="BloodTypeRh" type="xs:boolean" minOccurs="0" maxOccurs="1"/>          <!--<< @brief whether blood type is positive or negative for Rh factor. Initializes to 0 OR 1. -->
          <!-- Physical Characteristics that can change and should be change due to a condition -->
          <xs:element name="AlveoliSurfaceArea" type="ScalarAreaData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The surface area of the alveoli for gas diffusion-->
          <xs:element name="Hyperhidrosis" type="ScalarNeg1To1Data" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The patients’ susceptibility to sweating with negative indicating lack of sweat and positive showing excess. -->
          <xs:element name="RightLungRatio" type="ScalarFractionData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The ratio of total lung surface area that is associated with the right lung. -->
          <xs:element name="SkinSurfaceArea" type="ScalarAreaData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief -->
          <xs:element name="SleepAmount" type="ScalarTimeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief How much sleep has the pateint gotten over the past night-->
          <xs:element name="PainSusceptibility" type="ScalarNeg1To1Data" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The patients’ qualitative pain susceptibility. -->
          <!-- Systemic Targets to tune the engine to -->
          <xs:element name="BasalMetabolicRate" type="ScalarPowerData" minOccurs="0" maxOccurs="1"/>          <!--<< @brief The life-sustaining metabolic rate. -->
          <xs:element name="BloodVolumeBaseline" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The total volume of fluid within the cardiovascular system. -->
          <xs:element name="DiastolicArterialPressureBaseline" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The starting minimum pressure in the aorta over the course of a cardiac cycle.-->
          <xs:element name="HeartRateBaseline" type="ScalarFrequencyData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The resting heart rate. -->
          <xs:element name="MeanArterialPressureBaseline" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The resting mean arterial pressure. -->
          <xs:element name="RespirationRateBaseline" type="ScalarFrequencyData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The resting respiration rate. -->
          <xs:element name="SystolicArterialPressureBaseline" type="ScalarPressureData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The starting maximum pressure in the aorta over the course of a cardiac cycle.-->
          <xs:element name="TidalVolumeBaseline" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The starting volume of air moved into or out of the lungs during normal respiration.. -->
          <!-- Cardiovascular Systemic Bounds, generally computed based on physical characteristics -->
          <xs:element name="HeartRateMaximum" type="ScalarFrequencyData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The maximum heart rate the patient can withstand. -->
          <xs:element name="HeartRateMinimum" type="ScalarFrequencyData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The minimum heart rate the patient can withstand. -->
          <!-- Respiratory Systemic Bounds, generally computed based on physical characteristics -->
          <xs:element name="ExpiratoryReserveVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The maximum amount of air that can be exhaled from the end-expiratory position. -->
          <xs:element name="FunctionalResidualCapacity" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The volume of air remaining in the lungs after a passive expiration. -->
          <xs:element name="InspiratoryCapacity" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The sum of IRV and TV. -->
          <xs:element name="InspiratoryReserveVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The maximal volume that can be inhaled from the end-inspiratory level. -->
          <xs:element name="ResidualVolume" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The volume of air remaining in the lungs after a maximal exhalation. -->
          <xs:element name="RespiratoryDriverAmplitudeBaseline" type="ScalarPressureData" minOccurs="0" maxOccurs="1"/>          <!--<<@brief The peak amplitude of the respiratory driver-->
          <xs:element name="TotalLungCapacity" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The volume of air in the lungs at maximal inflation. -->
          <xs:element name="TotalVentilationBaseline" type="ScalarVolumePerTimeData" minOccurs="0" maxOccurs="1"/>          <!--<<@brief The patient's normal target ventilation in the absence of disruptions to arterial oxygen and carbon dioxide partial pressures-->
          <xs:element name="VitalCapacity" type="ScalarVolumeData" minOccurs="0"  maxOccurs="1"/>          <!--<< @brief The maximum amount of air a person can expel from their lungs after a maximum inhalation. -->
          <xs:element name="ActiveEvent" type="ActivePatientEventData" minOccurs="0"  maxOccurs="unbounded"/>          <!--<< @brief Active Patient Events and their duration. -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name ="NormalDistributionRangeData">
    <xs:annotation>
      <xs:documentation>
        Parameters for defining a normal distribution for the range of a
        Population Template.

        mean = The Population Mean
        diviation = The Standard Diviation from the mean
        unit = What unit will the generate range be recorded in
        group = Decides what heterogametic sex group the range will apply to.  All groups default to using the "" or "Male" group unles another one exist
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="mean" type="xs:double" default="1.0"/>
    <xs:attribute name="diviation" type="xs:double" default="0.1"/>
    <xs:attribute name="unit" type="xs:string" default=""/>
    <xs:attribute name="group" type="xs:string" default=""/>
  </xs:complexType>

  <xs:complexType name ="DiscreteDistributionRangeData">
    <xs:annotation>
      <xs:documentation>
        Parameters for defining a discrete distribution for enum selection each weight will be used as
        a probility for numbers [0..N) based on W_i/sum(W)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="weight" type="xs:int" minOccurs="3" maxOccurs="unbounded" default="1"/>
    </xs:sequence>
    <xs:attribute name="group" type="xs:string" default=""/>
  </xs:complexType>

  <xs:complexType name ="BernoulliDistributionData">
    <xs:annotation>
      <xs:documentation>
        Parameters for defining a Bernoulli  distribution  of [0,1] with p(0) = weight
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="weight" type="xs:double" minOccurs="1" maxOccurs="1" default="0.5"/>
    </xs:sequence>
    <xs:attribute name="group" type="xs:string" default=""/>
  </xs:complexType>

  <xs:complexType name ="PopulationData">
    <xs:annotation>
      <xs:documentation>
        Patient tempalte data is a way of defining the ranges of input parmeters for a group of patients. It is used as the development.  All entries can occur twice except
        Heterogametic-SexDistribution". For now Heterogametic-SexDistribution is a binomal distribution [0,1] where you give the probability. 0 = Male ; 1 = Female
        Future support for other group classifications maybe introduced but at this time. using the group field of any distribution allows you to mark
        poulation distirbution diferences between Heterogametic-Male and Heterogametic-Female members of the population. I would like to Addtional varability introduced
        but it is not supported at this time. Instead prefer multiple PopulatioData pools being used to generate.

        Each field in this data type represents the possible population distribtuion for a line item in PatientData. Some fields are missing
        As they are not intended as input for a patient, but are instead generated by stabilization
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Physical Characteristics -->

      <xs:element name="Heterogametic-SexDistribution" type="xs:double" minOccurs="1"  maxOccurs="1"/>
      <xs:element name="AgeDistribution"                             type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="WeightDistribution"                          type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="HeightDistribution"                          type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- BodyDensity CANNOT be set by the user. It is determined using body fat fraction -->
      <xs:element name="BodyFatFractionDistribution"                 type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <!-- LeanBodyMass CANNOT be set by the user. It is determined using weight and body fat fraction -->
      <xs:element name="MaxWorkRateDistribution"                     type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <!-- MuscleMass CANNOT be set by the user -->
      <xs:element name="BloodTypeABODistribution"                    type="DiscreteDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <xs:element name="BloodTypeRhDistribution"                     type="BernoulliDistributionData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="AlveoliSurfaceAreaDistribution"              type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <xs:element name="HyperhidrosisDistribution"                   type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <xs:element name="RightLungRatioDistribution"                  type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="SkinSurfaceAreaDistribution"                 type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="SleepAmountDistribution"                     type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="PainSusceptibilityDistribution"              type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <xs:element name="BasalMetabolicRateDistribution"              type="NormalDistributionRangeData" minOccurs="0" maxOccurs="2"/>
      <xs:element name="BloodVolumeBaselineDistribution"             type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="DiastolicArterialPressureBaselineDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="HeartRateBaselineDistribution"                type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- MeanArterialPressureBaseline CANNOT be set by the user -->
      <xs:element name="RespirationRateBaselineDistribution"          type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="SystolicArterialPressureBaselineDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- TidalVolumeBaseline CANNOT be set by the user -->
      <xs:element name="HeartRateMaximumDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="HeartRateMinimumDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- ExpiratoryReserveVolume CANNOT be set by the user -->
      <xs:element name="FunctionalResidualCapacityDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- InspiratoryCapacity CANNOT be set by the user -->
      <!-- InspiratoryReserveVolume CANNOT be set by the user -->
      <xs:element name="ResidualVolumeDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <xs:element name="TotalLungCapacityDistribution" type="NormalDistributionRangeData" minOccurs="0"  maxOccurs="2"/>
      <!-- VitalCapacity CANNOT be set by the user -->
    </xs:sequence>
  </xs:complexType>


  <xs:element name="Patient" type="PatientData"/>
  <xs:element name="PopulationProfile" type="PopulationData"/>
</xs:schema>
